/* 

    #fight-mask : mask above the board
    #switch : icon showing a switch
    #switch-before : icon of the before item
    #switch-after : icon of the after item
    #switch-arrow : arrow between player and icon

    .assailant-item : icon of the assailant weapon
    .defender-item : icons of the defender weapon and shield
    .fight-arrow : arrow between players and icons

    .hp-lost-player1 : icon showing hp lost for player 1
    .hp-lost-player2 : icon showing hp lost for player 2

*/

#fight-mask {
    position: absolute;
    width: 618px;
    height: 618px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
}

#switch,
#switch-before,
#switch-after,
#switch-arrow,
.assailant-item,
.defender-item,
.fight-arrow,
.hp-lost-player1,
.hp-lost-player2 {
    position: absolute;
}

#switch,
#switch-before,
#switch-after,
.assailant-item,
.defender-item,
.hp-lost-player1,
.hp-lost-player2 {
    height: 40px;
    width: 40px;
    z-index: 6;
}

#switch,
#switch-before,
#switch-after,
.assailant-item,
.defender-item {
    background-size: 30px 30px;
}

.hp-lost-player1,
.hp-lost-player2 {
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background-size: 40px 40px;
    color: rgb(220, 220, 220);
}

.hp-lost-player1 {
    background-image: url(../img/hplostplayer1.png);
}

.hp-lost-player2 {
    background-image: url(../img/hplostplayer2.png);
}

.defender-item {
    border: solid 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#switch,
#switch-before,
#switch-after {
    top: -65px;
}

#switch {
    left: 10px;
}

#switch-before {
    left: -30px;
}

#switch-after {
    left: 50px;
}

#switch-arrow,
.fight-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 5;
}

#switch-arrow {
    top: -25px;
    left: 10px;
}

.defender-item:hover {
    border: solid 2px rgba(255, 255, 255, 1);
}
