/* 

    #info > span : panel title
    #info > hr : horizontal line under panel title
    #info-logs p : info in the panel

*/

#info > span {
    display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 1em;
    color: rgb(220, 220, 220);
}

#info > hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

#info-logs p {
    margin-bottom: 10px;
    font-size: 0.8em;
    color: rgb(150, 150, 150);
}
