#introduction {
    padding: 40px;
    margin: 30px auto;
    width: 85%;
    min-width: 500px;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 1);
}

#introduction h2{
    margin: 25px 0px 15px 0px;
    font-size: 1.2em;
}

.rule {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.rule-explanation,
.rule-example {
    padding: 15px;
}

.rule-explanation {
    flex: 2;
    min-width: 300px;
}

.rule-example {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

#rules h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: rgb(130, 130, 130);
}

#rules p {
    line-height: 1.2em;
    font-size: 0.9em;
}

#rules .square,
#rules .defender-item {
    display: inline-block;
    text-align: left;
}

#rules .square,
#rules .obstacle,
#rules .reach,
#rules .reach-fight,
#rules .defender-item {
    width: 40px;
    height: 40px;
}

#rules .player,
#rules .weapon {
    width: 30px;
    height: 30px;
}

#rules .player {
    background-size: 30px 30px;
    background-size: 30px 30px;
}

#rules .weapon {
    top: 5px;
    left: 5px;
    background-size: 20px 20px;
    line-height: 30px;
    font-size: 0.8em;
}

.ctrl-examples {
    margin: auto;
    width: 208px;
}

.ctrl-example {
    text-align: left;
}

#rules .defender-item {
    position: static;
    background-color: rgb(50, 50, 200);
    box-shadow: none;
}

.player1 {
    background-image: url("../img/player1.png");
}

.player2 {
    background-image: url("../img/player2.png");
}

.weapon1 {
    background-image: url("../img/weapon1.png");
}

.shield1 {
    background-image: url("../img/shield1.png");
}

.ctrl-example span {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    color: rgb(140, 140, 140);
    padding-left: 10px;
    font-size: 0.9em;
}

#first-game {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    background-color: rgba(45, 45, 45, 1);
    border-width: 2px;
    font-size: 1.1em;
    color: rgb(230, 230, 230);
    cursor: pointer;
}

#first-game:hover {
    background-color: rgba(25, 25, 25, 1);
}
