/*----------| FONTS */

@font-face {
    font-family: "Roboto condensed";
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

/*----------| DEFAULT POSITIONINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
}

/*----------| DEFAULT TEXTS */

* {
    font-family: "Roboto condensed", "Arial", sans-serif;
    font-size: 1em;
    color: rgb(120, 120, 120);
}

/*----------| HEADER & FOOTER */

header,
footer {
    position: fixed;
    left: 0;
    right: 0;
    height: 20px;
    background: rgba(79, 50, 59, 1);
    z-index: 99;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

/*----------| BODY */

body {
    background-color: rgba(45, 45, 45, 1);
}

/*----------| GRID */

#wrapper {
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    margin-top: 80px;
}

#info-panel {
    order: 1;
    width: 250px;
    height: 658px;
    padding: 40px 20px;
    background-color: rgba(25, 25, 25, 1);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

#info-toggle {
    order: 2;
    width: 40px;
    height: 658px;
    margin-right: 30px;
    background-color: rgba(15, 15, 15, 1);
    cursor: pointer;
}

#info-toggle-icon {
    width: 20px;
    height: 20px;
    margin: 30px auto;
    background-image: url(../img/menu-toggle-left.png);
    background-size: 20px 20px;
}

#info-toggle:hover {
    background-color: rgba(30, 30, 35, 1);
}

#player1,
#player2 {
    align-self: start;
    width: 125px;
    margin-top: 150px;
    background-color: rgba(215, 215, 215, 1);
    text-align: center;
    z-index: -1;
}

#player1 {
    order: 3;
    padding: 10px 15px 10px 10px;
}

#player2 {
    order: 5;
    padding: 10px 10px 10px 15px;
}

#board-wrapper {
    order: 4;
}

/*----------| ROUNDS */

#round {
    position: absolute;
    width: 618px;
    margin-top: 206px;
    height: 206px;
    background-color: rgba(0, 0, 0, 0.75);
    line-height: 206px;
    text-align: center;
    font-size: 6em;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
}
